@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENUE SUR BERZ</h1>
    <p>Description brève....</p>
</div>

<div class="text-center">
    <a asp-action="Login" asp-controller="Client" class="btn btn-primary">CONNEXION CLIENT</a>
    <a asp-action="Login" asp-controller="Staff" class="btn btn-primary">CONNEXION STAFF</a>
</div>
