@model VSEatWebApp.Models.LoginVM

@{
    ViewData["Title"] = "Connexion client";
}

<h1>Connexion client</h1>

@{await Html.RenderPartialAsync("_Login", Model);}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
