@model VSEatWebApp.Models.StaffVM

@{
    ViewData["Title"] = "Create";
}

<h1>Créer un compte staff</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{await Html.RenderPartialAsync("_UtilisateurBaseForm", new DetailedUtilisateurVM() { Nom = Model.Nom, Prenom = Model.Prenom, Mail = Model.Mail, Password = Model.Password, Telephone = Model.Telephone, AllLocalites = Model.AllLocalites });}
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocaliteIDs" class="control-label"></label>
                @foreach (DTO.Localite localite in Model.AllLocalites)
                {
                    <div class="custom-checkbox">
                        <label>
                            <input type="checkbox" name="LocaliteIDs" value="@localite.ID" />
                            @localite.Nom
                        </label>
                    </div>
                }
                <span asp-validation-for="LocaliteIDs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login">Se connecter.</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
