@model VSEatWebApp.Models.StaffVM

@{
    ViewData["Title"] = "Mon compte";
}

<h1>Modifier mon compte</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{await Html.RenderPartialAsync("_UtilisateurBaseForm", new DetailedUtilisateurVM() { Nom = Model.Nom, Prenom = Model.Prenom, Mail = Model.Mail, Password = Model.Password, Telephone = Model.Telephone, AllLocalites = Model.AllLocalites });}
            <div class="form-group">
                <label asp-for="Telephone" class="control-label">Téléphone</label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocaliteIDs" class="control-label">Localités de travail</label>
                @foreach (DTO.Localite localite in Model.AllLocalites)
                {
                    <div class="custom-checkbox">
                        <label>
                            <input type="checkbox" name="LocaliteIDs" value="@localite.ID"
                                   @if (Model.LocaliteIDs.Contains(localite.ID)) 
                                   { 
                                       <text> checked</text>
                                   } />
                            @localite.Nom
                        </label>
                    </div>
                }
                <span asp-validation-for="LocaliteIDs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Appliquer les modifications" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-danger" asp-action="Disable" asp-controller="Staff">Désactiver mon compte</a>
</div>
<br />
<div>
    <a asp-action="Index" asp-controller="Home">Retour à l'accueil</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
