@model VSEatWebApp.Models.SimpleUtilisateurVM

@{
    ViewData["Title"] = "Accueil staff";
}

<h1>Bienvenue @Model.Prenom @Model.Nom</h1>

<div>
    Description du fonctionnement du site, point de vue STAFF.
</div>

<div>
    <a asp-action="List" asp-controller="Commande" asp-route-status="1">Commandes.</a>
</div>