@model VSEatWebApp.Models.SimpleUtilisateurVM

@{
    ViewData["Title"] = "Accueil staff";
}

<h1>Bienvenue @Model.Prenom @Model.Nom</h1>

<div>
    Vous êtes actuellement connectés en tant que <em>staff</em>.<br />
    <br />
    Pour consulter ou modifier les informations de votre compte, accédez à la page <a asp-action="MyAccount" asp-controller="Home">mon compte</a>. Vous pourrez également désactiver votre compte si vous le souhaitez depuis cette page.
    <br /><br />
    La page <a asp-action="List" asp-controller="Commande" asp-route-status="1">mes commandes</a> vous permet de consulter la liste de vos commandes actives, terminées ou indépendamment de leur statut. C'est également depuis cette page que vous pourrez valider les commandes une fois effectuées.
</div>