@model VSEatWebApp.Models.LoginVM

@{
    ViewData["Title"] = "Connexion staff";
}

<h1>Connexion staff</h1>

@{await Html.RenderPartialAsync("_Login", Model);}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
